<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><
        {% if a > b %}
            <h1>inside if </h1></h2>
            <h1>a is greater than b</h1>
        {% elif b > c %}
            <h1>inside elif</h1>
            <h1>b is greater than c</h1>
        {% else %}
            <h1>inside else</h1>
            <h1>c is greater</h1>
        {% endif %}

        

            
    </center>
</body>
</html>